
.category-beef{
    position: relative;
}
.category-name{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 45px;
    font-weight: 800;
    color: white;
}
.shop-all, .shop {
    height: 30px;
    background-color: #dd3626;
    border: none;
    width: 100px;
    text-align: center;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}
.shop-all:hover, .shop:hover{background-color: #b4291c}
.category-image{
    margin: 0;
    position: relative;
}
.shop-text{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 0;
}
.shop-our{
    background-color: white;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0;
    color: black !important;
}
.subcategories > li{
    position: relative;
    margin-bottom: 20px;
}
.sub-name >a{
    position: absolute;
    top: 35%;
    left: 40px;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.sub-name > span > input{
    position: absolute;
    top: 35%;
    right: 20px;
}
.wrap{
        background-image: url('../images/bg-beef.png');
    }
.regular-price{
    color: red;
    font-weight: 600;
    font-size: 24px;
}
@media (min-width: 320px) and (max-width: 424px){
    .shop-our{
        position: relative;
        transform: translate(0,0);
        left: 0
    }
    .shop-text{
        font-size: 23px;

    }
    .category-image img{height: 100px}
    .category-name{
        font-size: 30px;
        top: 25px;
    }
    .sub-name > a{
        left: 10px;
        font-size: 18px;
    }
    .sub-name > span > input{
        right: 0;
    }
    .subcategories{margin-top: -80px;}
    .sub-img img{
        width: 100%;
        height: 80px;
    }
    .sub-name > span > input{
        top: 30%;
        right: 10px;
    }
    .a-left{top: 270px;}
}
@media (min-width: 425px) and (max-width: 767px){
    .shop-our{
        position: relative;
        left: 0;
        transform: translate(0,0);
        margin-bottom: 30px;
    }
    .category-name{
        top: 15px;
        font-size: 30px;
    }
    .sub-name > span > input{
        top: 20%;
        height: 20px;
        width: 80px;
        font-weight: 600;

    }
    .sub-name >a{
        font-size: 20px;
        top: 20%;
    }
}
@media (min-width: 768px) and (max-width: 1440px){
    .shop-our{
        position: relative;
        left: 0;
        transform: translate(0,0);
        margin-bottom: 30px;
    }
    .shop{height: 30px}
    .sub-name > span > input{top: 35%}
}
