/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2016-07-27 04:18:30 */

    html, body { 
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-container.type2 .top-links-container,
.header-container.type3 .top-links-container,
.header-container.type4 .top-links-container,
.header-container.type5 .top-links-container,
.header-container.type6 .top-links-container,
.header-container.type7 .top-links-container,
.header-container.type9 .top-links-container,
.header-container.type10 .top-links-container{
    background-color:#000000;
}
.header-container.type2 .main-nav .menu-wrapper,
.header-container.type3 .main-nav,
.header-container.type4 .main-nav .menu-wrapper,
.header-container.type9 .main-nav .menu-wrapper,
.header-container.type10 .header-wrapper,
.header-container.type3.sticky-header .header-wrapper,
.header-container.type4.sticky-header .header-wrapper,
.header-container.type10.sticky-header .header-wrapper{
    background-color:#ff0000;
}
.header-container.type1 .main-nav ul.menu>li>a,
.header-container.type2 .main-nav ul.menu>li>a,
.header-container.type3 .main-nav ul.menu>li>a,
.header-container.type4 .main-nav ul.menu>li>a,
.header-container.type5 .main-nav ul.menu>li>a,
.header-container.type6 .main-nav ul.menu>li>a,
.header-container.type7 .main-nav ul.menu>li>a,
.header-container.type8 .main-nav ul.menu>li>a,
.header-container.type9 .main-nav ul.menu>li>a,
.header-container.type10 .main-nav ul.menu>li>a,
.header-container.type11 .main-nav ul.menu>li>a,
.header-container.type12 .main-nav ul.menu>li>a{
    color:#ffffff;
}
.main-nav .menu>li.menu-full-width .nav-sublist-dropdown,.main-nav .menu>li.menu-static-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-static-width .nav-sublist-dropdown{
}
